#img_size{
    border-radius: 30%;
    width: 200px;
    height: 200px;
    margin-left: 50px ;
    text-align: center;
}
#font_{
    margin-left: 50px;
    text-align: center;
    
}
#img_center{
    text-align: center;

}