/* ver7 변동 사항 : 
#div_news - border: 1px solid rgb(110 110 110); 추가
#div_reservation -  border: 1px solid #efefef; 변경,
                    padding-top: 6%;
                    transition-duration: 0.4s;
                    border-radius: 10px; 추가
*/

/* header 텍스트 - KOFIH이종욱체 */
@font-face {
    font-family: 'KOFIHDrLEEJWTTF-B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/KOFIHDrLEEJWTTF-B.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
/* 그 외 텍스트 - 나눔스퀘어 네오 */
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
}
/* 전체 픽셀 고정*/
#body_ratio{
    max-width: 1920px;
    max-height: 1080px;
    min-width: 1366px;
    min-height: 768px;
    height: 100%;
    width: 100%;
    /* background-image: url(../image/고개돌린\ 개.jpg); */
}
.background{
    position: absolute;
    top: 0;
    left: 0;
    height: 1150px;
    width: 100%;
    z-index: -1;
    opacity: 0.9;    /*투명도*/
    object-fit: cover;
    justify-content: center;
    /* padding-left: 30%; */
    /* margin-left: 300px; */
    /* margin-right: -300px; */
    /* border: 1px solid red; */
    /* background-size: 200px; */

    
    /* &__content {
        height: 100%;
        width: 100%;
        object-fit: cover; 
        
    } */
}

/* fix 고정시키는 id */
#fix_header_nav{
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: transparent;
    font-family: 'KOFIHDrLEEJWTTF-B';
    /* ver7 */
    border-bottom: 1px solid rgb(160, 160, 160);
    margin-top: 115px;
}

/* hearder + nav 와 main 을 분리하기위한 id */
#fix_main{
    display: inline-block;
    position: relative;
    /* ver7 변경 */
    width: 100vw;
    height: 100vh;
    opacity: 90%;
    background-image: url(../image/mechuri_강아지.jpg);
    background-size: 100%;
    background-position: 0 -250px;
}

/* header 적용 */
.header_change{
    /* border-bottom: 1px solid rgb(160, 160, 160); */
    /* 크기 조정 */
    width: 100%;
    height: 120px;
    /* header color 추가 */
    /* background-color: #C8DBBE; */
    /* header font 추가 */
}
.header_change:hover{

}

/* 상단 var 추가 css */
header>#section_var {
    font-family: 'NanumSquareNeo-Variable';
    text-align: right;
    /* border-top: 1px solid rgb(160, 160, 160); */
    border-bottom: 1px solid rgb(160, 160, 160);
    padding: 5px;
}
header>#section_var>div {
    display: inline;
    margin-right: 10px;
}
header>#section_var>div>a {
    text-decoration-line: none;
    color: #181414;
}
/* ----------------- */

/* 로고 추가로 인한 css 변겅 */
header>#logo>a>img {
    display: block;
    margin: 0px auto;
    width: 250px;
}
nav{
    width: 100%;
    height: 50px;
    /* background-color: #C8DBBE; */
    /* nav color 추가 */
    /* font 추가 */
    font-family: 'NanumSquareNeo-Variable';
}
nav:hover{
    /* box-shadow: 0 10px 10px rgba(153, 152, 152, 0.9); */
    opacity: 0.8;
    /* background-color: white; */
}
nav>ul{
    text-align: center;
    padding-left: 0px;
    width: 100%;
    margin: 20px 0px 15px 0px;
    float: left;
}
nav>ul>li{
    display: inline;
    padding: 0px 20px 0px 20px;
    letter-spacing: 3px;

}
nav>ul>li>a {
    text-decoration-line: none;
    color: #181414;
}
main{
    width: 100%;
    height: 1800px;
    display: center;
    /* main color 추가 */
    /* font 추가 */
    font-family: 'NanumSquareNeo-Variable';
}
main>aside{
    /* border: 1px solid rgb(0, 0, 0); */
    width: 90%;
    height: 850px;
    margin: 0% 5% 0px 5%;
    /* aside color 추가 */
    /* background-color: #efefef; */
}
footer{
    font-size: 70%;
    width: 100%;
    height: 50px;
    /* footer color 추가 */
    background-color: #181414;
    /* footer text color 추가 */
    color: #ffffff;
    font-size: 70%;
}
#div_half{
    width: 50%;
    height: 100%;
    float: left;
}
#div_news{
    border: 1px solid rgb(110 110 110);
    width: 90%;
    height: 90%;
    margin: 6% 5% 5% 5%;
    border-radius: 10px;
}
.div_quadrant{
    margin: 8% 10% 0% 10%;
    width: 80%;
    height: 10%;
    display: inline-block;
    text-align: center;
    transition-duration: 0.9s;
    border-radius: 20px;
}
.p_bigfont{
    margin-top: 3%;
    font-size: 30px;
}
#div_third_division{
    /* border: 1px solid rgb(0, 0, 0); */
    width: 80%;
    height: 25.59%;
    margin: 6% 10% 0% 10%;
    border-radius: 10px;
}
#div_reservation{
    border: 1px solid #efefef;
    margin: 5% 30% 5% 30%;
    float: left;
    width: 40%;
    height: 20%;
    padding-top: 6%;
    transition-duration: 0.4s;
    border-radius: 10px;
}
#div_reservation:hover{
    /* ver7 색 임시 변경 */
    background-color: #efefef;
}
.div_greetings{
    width: 80%;
    height: 60%;
    margin: 7% 10% 5% 10%;
    border-radius: 10px;
    float: left;
    text-align: center;
}
#p_comper_velue{
    margin-top: -3.3%;
}
.p_check_v{
    display: none;
    margin-top: 6%;
    font-size: 50px;
}
.div_Lslide{
    width: 100%;
    height: 100%;
    background-image: url(../image/hello_demo.jpg);
    background-size: 100% 100%;
    border-radius: 10px;
    transition-duration: 1s;
}
#div_half_division1{
    /* border: 1px solid rgb(0, 0, 0); */
    width: 46%;
    height: 90%;
    margin: 2% 1% 2% 2%;
    float: left;
    background-size: 100% 100%;
    text-align: center;
    border-radius: 10px;
    /*  */
    margin-left: 0px;
}
#div_half_division2{
    border: 1px solid rgb(0, 0, 0);
    width: 46%;
    height: 90%;
    margin: 2% 1% 2% 2%;
    float: left;
    text-align: center;
    background-image: url(../image/BI_happy_dog.jpg);
    background-size: 100% 100%;
    border-radius: 10px;
    margin-left: 0px;
}
.a_gallery_colar{
    color: black;
    text-decoration: none;
}
.a_gallery_colar:hover{
    text-decoration: underline;
}
#p_gallery{
    font-size: 30px;
    margin-top: -5%;
}
#div_review{
    border: 1px solid rgb(0, 0, 0);
    width: 90%;
    height: 90%;
    margin: 2% 5% 2% 5%;
    float: left;
}
#p_review{
    font-size: 20px;
    padding: 5%;
}


/* 자바 스크립트에 사용하는 클래스*/

.p_change{
    width: 30%;
    height: 10%;
    margin: 3% 35% 0% 35%;
    border-radius: 10px;
}
.div_change{
    font-size: 30px;
    background-color: rgb(63, 148, 46);
}
.div_hidden_area{
    opacity: 0%;
}
.div_Lslide_move{
    width: 0%;
    opacity: 0%;
}