/* 텍스트 - 나눔스퀘어 네오 */
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* main 공통 디자인 필요없는 부분 삭제 */
main {
    height: auto;
}
main>aside {
    border: 0 !important;
    border-radius: 5px;
    height: auto !important; 
}
/*  */

#fix_header_nav{
    z-index: 5;
    position: fixed;
    width: 100%;
}

/* 문의하기 영역 꾸미기 */
#inquiry {
    /* 승민님 wish - 좌우 영역 줄여보기 */
    padding: 90px 90px 20px 90px;
}

#inquiry h2 {
    padding: 10px;
    /* 폰트 사이즈 up */
    font-size: 40px;
}
#inquiryForm {
    padding: 10px;
}
#inquiryHigh {
    font-size: px;
    margin: 10px 5px 20px ;
}

/* input type에 css 적용하기 = input[type=text] */
#inquiryHigh input[type=text] {
    height: 15px;
    margin-right: 15px;
    font-size: 20px;
    padding: 5px 10px;
}

/* type + 그 외 적용 방법 */
#inquiryHigh input[type=text]::placeholder {
    font-size: 13px;
}
#inquiryHigh input[type=text]:focus {
    outline: none !important;
    border-radius: 5px;
}

#inquiryForm p {
    display: inline;
    margin: 5px;
}

#write {
    padding: 10px;
}

hr {
    margin: 10px;
}

/* 문의 게시판 영역 꾸미기 */
#bulletinBoard {
    background: #efefef;
    border-radius: 5px;
    /* 승민님 wish - 좌우 영역 줄여보기 */
    padding: 90px;
    margin: 10px;
}
#bulletinBoard h2 {
    padding: 10px;
    /* 폰트 사이즈 up */
    font-size: 40px;
}
#inquiryList {
    margin: 20px auto;
    width: 80%;
    padding: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    /* table 공백 제거 */
    border-collapse: collapse;
}
#inquiryList>#tbody>tr>td>a {
    text-decoration-line: none;
    color: rgb(48, 48, 48);
    
}
#inquiryList tr {
    text-align: center;
}
#inquiryList tr th, #inquiryList tr td  {
    border-bottom: 1px solid rgb(185, 185, 185);
    padding: 8px;
}
#inquiryList tr>td:nth-child(1) {
    border-right: 1px solid rgb(185, 185, 185);
}
#inquiryList tr>td:nth-child(2) {
    text-align: left;
    padding-left: 20px;
}


#pageNumber {
    margin-top: 20px;
}
#pageNumber>ul {
    text-align: center;
}
#pageNumber>ul>li {
    list-style: none;
    display: inline-block;
}
#pageNumber>ul>li>a {
    text-decoration-line: none;
    padding: 3px;
    color: rgb(83, 83, 83);
    cursor: pointer;
}

#mecuri {
    padding: 10px 30px 50px;
    margin-bottom: 20px;
}

.ck-editor__editable_inline {
    min-height: 400px;
}

/* 버튼 태그 공통 */
.btn {
    font-family: 'NanumSquareNeo-Variable';
    padding: 8px 15px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
/*  */

.btn.large {
    padding: 14px 25px;
    font-size: 17px;
}

.btn.blue {
    color: #ffffff;
    background-color: #1565c0;
}

.btn.green {
    color: #ffffff;
    background-color: #15c057;
}

/* 임시 저장, 등록하기 버튼 */
.inquiry-footer {
    margin-top: 30px;
    text-align: center;
}

/* 재미로 모달창 만들어봄 */
/* .modal {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;

    background-color: rgba(0, 0, 0, 0.4);
} */
/* .modal.show {
    display: block;
}

.modal-body {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    padding: 40px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
    transform: translateX(-50%) translateY(-50%);
} */